{% extends "base.html" %}
{% block content %}
<div class="container">

  <h3>ログ詳細</h3>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}">トップ</a></li>
    <li class="active">ログ詳細</li>
  </ol>
  <!-- /breadcrumb -->

  <!-- sec-detail -->
  <section id="sec-detail" class="section">
    <div class="log-detail">
      <ul>
        <li>
          <div class="title">日時</div>
          <div class="content">{{ log.date }}</div>
        </li>
        <li>
          <div class="title">作業時間</div>
          <div class="content">{{ log.time }}</div>
        </li>
        <li>
          <div class="title">作業メモ</div>
          <div class="content">{{ log.memo }}</div>
        </li>
        <li>
          <div class="title">TODO</div>
          <div class="content">{{ log.todo }}</div>
        </li>
      </ul>
    </div>
    <div class="log-edit">
      <a class="btn btn-primary btn-lg" href="{{ url_for('edit', id=log.id) }}">編集</a>
      <button class="btn btn-danger btn-lg" type="button" data-toggle="modal" data-target="#delete_modal">削除</button>
    </div>
  </section>
  <!-- /sec-detail -->

  <!-- Modal -->
  <form method="POST" action="{{ url_for('delete', id=log.id) }}">
    {{ form.hidden_tag() }}
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">削除の再確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            本当に削除してもいいですか？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <button type="submit" class="btn btn-danger" href="{{ url_for('delete', id=log.id) }}">削除する</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- /Modal -->

</div>
{% endblock %}